<h1 class="text-center">Joke App</h1>
<div class="container">
  <div class="card p-2 mt-4">
    <h2 class="text-center">A new Joke every 5 seconds!</h2>
    <p class="text-center">{{ joke$.setup }} {{joke$.delivery}}</p>
    <div class="text-center">
      <button type="button" class="btn btn-outline-success mx-2" (click)="like()">Like</button>
      <button type="button" class="btn btn-outline-danger mx-2" (click)="dislike()">Dislike</button>
    </div>
  </div>

  <div *ngIf="likedJokes.length > 0" class="d-flex flex-column card p-2 mt-4 border-success">
    <h2>Jokes liked</h2>
    <ol>
      <li *ngFor="let likedJoke of likedJokes" class="py-2">
        {{ likedJoke.setup }} {{likedJoke.delivery}} <button class="button" (click)="notLike(likedJoke)">Change</button>
      </li>
    </ol>
  </div>

  <div *ngIf="dislikedJokes.length > 0" class="d-flex flex-column card p-2 mt-4 border-danger">
    <h2>Jokes not liked</h2>
    <ol>
      <li *ngFor="let dislikedJoke of dislikedJokes" class="py-2">
        {{ dislikedJoke.setup }} {{dislikedJoke.delivery}}<button class="button" (click)="notDislike(dislikedJoke)">Change</button>
      </li>
    </ol>
  </div>
</div>




