.text {
  font-family: 'Indie Flower', cursive;
}

.font {
  font-size: 1.2rem;
}

.card {
  border-radius: 20px;
}

.btn-like,
.btn-dislike {
  height: 35px;
  width: 100px;
}

.btn-like {
  border: 1px solid #b6f3b0;
  background-color: #b6f3b0;
}

.btn-dislike {
  border: 1px solid #e84242;
  background-color: #e84242;
}

.liked-jokes-container {
  background-color: #b6f3b0;
  border: 1px solid #b6f3b0;
}

.dislike-jokes-container {
  border: 1px solid #e84242;
  background-color: #e84242;
}

.rounded-circle {
  background-color: white;
  padding: 4px 12px;
}

